<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Detection using Flask</title>
</head>
<body>
    <h1 style="text-align: center;">FACE DETECTION WEB APPS IN FLASK</h1>
    {% block content %}
    <img style="justify-content: center; display: flex;padding: 20px;" src="{{url_for('video')}}" alt="Here comes our video. Check your Web Cam Connection">
</body>
    {% endblock %}
</html>